.sideBar {
  overflow-y: auto;
  width: 100%;
  max-width: 250px;
  transition: left 0.3s ease;
  margin-left: 35px;
  margin-top: 50px;
  position: fixed;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  width: 100%;
  max-width: 250px;
  transition: left 0.3s ease;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: rgb(252, 241, 241);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(170, 169, 169);
}

.sideBarWrapper {
  padding: 20px;
}

.sideBarList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sideBarListItem {
  display: flex;
  margin-bottom: 40px;
  align-items: center;
}

.sideBarIcon {
  margin-left: 15px;
  cursor: pointer;
}

.sideBarListItemText {
  margin-left: 15px;
  cursor: pointer;
}

.showMoreButton {
  width: 220px;
}

.sideBarHr {
  margin-top: 25px;
}

.SideBarprofiles {
  list-style: none;
}

.sideBarprofileItems {
  display: flex;
  margin-top: 25px;
}

.sideBarprofileText {
  margin-left: 20px;
}
